---
export interface Props {
  title: string;
  description: string;
  href: string;
  photo: string;
  alt: string;
}

const { href, description, photo, title, alt } = Astro.props;
---

<li
  class='border bg-white max-w-[400px] border-black p-2 rounded-lg flex justify-center relative after:rounded-lg after:top-2 after:left-2 after:right-[-8px] after:bottom-[-8px] after:-z-10 after:absolute after:bg-black hover:after:top-0 hover:after:left-0 hover:after:bottom-0 hover:after:right-0 hover:translate-x-1 hover:translate-y-1 hover:after:bg-transparent'
>
  <a href={href} target='_blank'>
    <div class='flex flex-col gap-3 p-4 text-center z-10'>
      <img src={photo} alt={alt} class='w-72 border rounded-lg' />
      <h3 class='text-2xl font-bold'>{title}</h3>
      <p class='w-72 px-5'>{description}</p>
    </div>
  </a>
</li>
