---
import twitter from '../images/twitter.svg';
import linkedin from '../images/linkedin.svg';
import github from '../images/github.svg';
import devto from '../images/devto.svg';
import perfil from '../images/perfil.png';
---

<section
  class='py-60 flex flex-col lg:flex-row gap-6 lg:gap-0 justify-between items-center'
>
  <div class='flex flex-col gap-5'>
    <h2 class='text-6xl md:text-8xl text-center lg:text-left font-bold'>
      Yuri
    </h2>
    <p class='text-2xl text-center sm:text-left sm:text-3xl xl:text-4xl'>
      Front-end developer from Brazil
    </p>
    <ul class='flex justify-center lg:justify-start gap-7'>
      <li>
        <a
          href='https://twitter.com/Yuri_Sampa'
          rel='noreferrer'
          target='_blank'
        >
          <img
            src={twitter}
            alt='Twitter logo'
            class='w-7 h-7 hover:scale-110 ease-in-out duration-100'
          />
        </a>
      </li>
      <li>
        <a
          href='https://www.linkedin.com/in/yurisamp/'
          rel='noreferrer'
          target='_blank'
        >
          <img
            src={linkedin}
            alt='Linkedin logo'
            class='w-7 h-7 hover:scale-110 ease-in-out duration-100'
          />
        </a>
      </li>
      <li>
        <a href='https://github.com/YuriSamp' rel='noreferrer' target='_blank'>
          <img
            src={github}
            alt='Github logo'
            class='w-7 h-7 hover:scale-110 ease-in-out duration-100'
          />
        </a>
      </li>
      <li>
        <a href='https://dev.to/palast' rel='noreferrer' target='_blank'>
          <img
            src={devto}
            alt='devto'
            class='w-7 h-7 hover:scale-110 ease-in-out duration-100'
          />
        </a>
      </li>
    </ul>
  </div>
  <img src={perfil} alt='' class='w-96 pr-10 lg:pr-0' />
</section>
